.delete,
.edit {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  color: transparent;
  background-color: transparent;
  padding: 0;
  border-color: transparent;
}

.add-person {
  background: #EF4565;
}

.edit {
  background-image: url('../assets/edit.svg');
}

.delete {
  background-image: url('../assets/trash.svg');
}

.reset-btn {
  margin-top: 18px;
  background-color: cadetblue;
  color: white
}


.deleteBtnContainer.open {
  pointer-events: all;
  opacity: 1;
}

.wrapper-btn {
  display: flex;
}

.confirm {
  margin-right: 32px;
}

.confirm,
.cancel,
.add-person {
  padding-top: 15px;
  padding-left: 18px;
  padding-right: 11px;
  padding-bottom: 14px;
  text-align: center;
  border-radius: 5px;
  color: white;
}

/* .add-person:hover,
.confirm:hover,
.cancel:hover,
.add-person:hover,
.confirm:hover,
.cancel:hover,
.add-person:active,
.confirm:active,
.cancel:active,
.cancelAddForm:active,
.submit-btn:active {
  color: #fffffe;
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.confirm,
.cancel,
.cancelAddForm,
.submit-btn,
.cancelForm {
  color: white;
  background-color: #272343;
  box-shadow: 0 9px #999;
  border-radius: 5px;
}

.submit-btn {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 32px;
}

.submit-btn {
  margin-bottom: 1rem;
} */
