.delete,
.edit {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  color: transparent;
  background-color: transparent;
  padding: 0;
  border-color: transparent;
}

.add-person {
  background: #EF4565;
}

.edit {
  background-image: url('../assets/edit.svg');
}

.delete {
  background-image: url('../assets/trash.svg');
}

.deleteBtnContainer.open {
  pointer-events: all;
  opacity: 1;
}

.wrapper-btn {
  display: flex;
}

.confirm {
  margin-right: 32px;
}

.add-person {
  padding-top: 15px;
  padding-left: 18px;
  padding-right: 11px;
  padding-bottom: 14px;
  text-align: center;
  border-radius: 5px;
  color: white;
}

.submit-btn,
.cancelForm,
.confirm,
.cancel,
.cancelAddForm {
  background: #FFFFFF;
  border: 2px solid #5F6C7B;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 14px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 21px;
  color: #5F6C7B;
  font-size: 18px;
  line-height: 21px;
}

.cancelForm {
  padding-top: 08px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 08px;
}

.submit-btn {
  padding-top: 08px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 08px;
  margin-right: 25px;
}

.confirm,
.cancel {
  padding-left: 25px;
  padding-right: 25px;
}

.cancelAddForm {
  padding-top: 08px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 08px;
}

.submit-btn:hover,
.cancelForm:hover,
.cancel:hover,
.confirm:hover,
.cancelAddForm:hover {
  background-color: #EF4565;
  color: white;
  border-color: transparent;
}

@media (max-width: 700px) {

  .submit-btn,
  .cancelForm,
  .confirm,
  .cancel,
  .cancelAddForm {
    font-size: 14px;
  }
}



