.delete,
.edit {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  color: transparent;
  background-color: transparent;
  padding: 0;
  border-color: transparent;
}

.add-person,
.submit-btn,
.confirm,
.cancelForm:hover,
.cancel:hover,
.cancelAddForm:hover {
  background-color: #EF4565;
  color: white;
  border-color: transparent;
}

.edit {
  background-image: url('../assets/edit.svg');
}

.delete {
  background-image: url('../assets/trash.svg');
}

.deleteBtnContainer.open {
  pointer-events: all;
  opacity: 1;
}

.submit-btn,
.cancelForm,
.confirm,
.cancel,
.cancelAddForm,
.add-person {
  padding-top: 15px;
  padding-left: 21px;
  padding-right: 16px;
  padding-bottom: 14px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.submit-btn,
.cancelForm,
.confirm,
.cancel,
.cancelAddForm {
  flex-basis: 50%;
}

.cancelForm,
.cancel,
.cancelAddForm {
  background: #FFFFFF;
  border: 2px solid #5F6C7B;
  color: #5F6C7B;
}

.confirm {
  margin-right: 20px;
}

.close--addPopup,
.close--editPopup,
.closeDeletePopup {
  background-color: transparent;
  border-color: white;
  text-align: right;
  width: 100%;
  outline: none;
  font-size: 29px;
  line-height: 29px;
  color: #094067;
}

.closeDeletePopup {
  padding-top: 16px;
  padding-bottom: 0;
  padding-right: 20px;
}

.close--addPopup:hover,
.close--editPopup:hover,
.closeDeletePopup:hover {
  background-color: white;
  color: black;
}

@media(min-width: 1300px) {

  .close--addPopup,
  .close--editPopup,
  .closeDeletePopup {
    padding-right: 63.5px;
    padding-top: 16px;
    padding-bottom: 38.5px;
  }

  .submit-btn,
  .cancelForm,
  .confirm,
  .cancel,
  .cancelAddForm,
  .add-person {
    font-size: 18px;
    line-height: 21px;
   }

   .add-person {
     padding-inline-start: 0;
     padding-inline-end: 0;
   }

  .close--addPopup,
  .close--editPopup,
  .closeDeletePopup {
    font-size: 29px;
    line-height: 29px;
  }

}



