.form {
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 35px;
  align-items: flex-end;
  margin-block-end: 47px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border-color: transparent;
}

.form__label {
  color: #094067;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.form__input,
.form__select {
  width: 100%;
  border-radius: 5px;
  margin-top: 13px;
}

 input::placeholder,
 select {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #5F6C7B;
}

.form__select,
.form__input {
  padding-top: 15px;
  padding-left: 18px;
  padding-right: 129px;
  padding-bottom: 14px;
}

.form__input:focus,
.form__select:focus {
  outline: none;
  border-color: blue;
}

.form__input {
  padding-top: 19px;
}

.form__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../assets/arrow_down.svg")
    white no-repeat 94% !important;
}

.form__fieldset,
.add-person {
  margin-top: 1rem;
}

@media(max-width: 300px) {

  .form__input,
  .form__select {
    padding-right: 20px;
  }
}

@media(max-width: 700px) {
  .form {
    grid-template-columns: 1fr;
  }
}

@media(min-width: 1000px) {

  .form {
    max-width: 774px;
    height: 84px;
    display: grid;
    grid-template-columns: 264px 282px 158px;
    align-items: flex-end;
    gap: 34px;
  }

  .add-person,
  .form__fieldset {
    margin-top: 0;
  }

  .form__select {
    background: url("../assets/arrow_down.svg")
    white no-repeat 239px !important;
  }

  .add-person,
  .form__input,
  .form__select {
    height: 50px;
  }

  .form__input,
  .form__select {
    padding: 0;
    padding-right: 11px;
    padding-left: 20px;
  }
}
