.container {
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.items {
  background-color: #fffffe;
  list-style: none;
  margin-block-end: 1rem;
  padding-top: 22px;
  padding-left: 48px;
  padding-right: 25px;
  padding-bottom: 23px;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}

.btn--wrapper,
.items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-start: 33px;
}

.birthday {
  color: #EF4565;
  font-size: inherit;
  font-weight: bold;
}

.person-ages-desc {
  font-size: 28px;
  font-weight: bold;
}

.person-name {
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.birth_date,
.age {
  font-size: 20px;
  line-height: 25px;
  color: #5F6C7B;
  margin-top: 0;
}

.age {
  color: #EF4565;
}

.days {
  font-size: 18px;
  line-height: 28px;
  color: #5F6C7B;
  margin-bottom: 41px;
}

.btn--wrapper {
  margin-top: 41px;
}

.image {
  margin-right: 16px;
}

@media (min-width: 1250px) {
  .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  .birth_date,
  .age,
  .person-name{
    font-size: 36px;
    line-height: 23px;
  }

  .days {
    font-size: 24px;
  }

}


