.btn--wrapper,
.items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.items {
  background-color: #fffffe;
  list-style: none;
  margin-block-end: 1rem;
  padding-top: 22px;
  padding-left: 48px;
  padding-right: 25px;
  padding-bottom: 23px;
  border-radius: 5px;
}

.first-name,
.last-name {
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

.birth_date,
.age {
  font-size: 24px;
  line-height: 28px;
  color: #5F6C7B;
}

.age {
  color: #EF4565;
}

.days {
  font-size: 24px;
  line-height: 28px;
  color: #5F6C7B;
  margin-bottom: 41px;
}

.btn--wrapper {
  margin-top: 41px;
}

@media (min-width: 800px) {
  .container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

}
