.addPopup,
.popup,
.deleteBtnContainer {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.deleteBtnWrapper,
.addPopup--container,
.popup--container {
  background: #FFFFFF;
  border-radius: 5px;
  pointer-events: all;
  text-align: left;
  position: fixed;
  top: 0;
  left: 02%;
  right: 1.5%;
  bottom: 0;
  border-radius: 8px;
  display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
  overflow-y: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 50px;
}

.popup.open {
  pointer-events: all;
  opacity: 1;
}

.deleteBtnWrapper {
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.header--wrapper {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.addPopup--wrapper,
.editPopup--wrapper {
  grid-column: 2 / 4;
  text-align: left;
}

.confirmParagraph,
.editPopup__heading,
.addPopup__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #094067;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.btnWrapper,
.confirmParagraph {
  text-align: center;
}

.confirmParagraph {
  padding-block-start: 20%;
}

.addPopup__fieldset,
.editPopup__fieldset {
  display: flex;
  flex-direction: column;
}

.addPopup__fieldset:first-child
.editPopup__fieldset:first-child {
  margin-top: 26px;
}

.addPopup__fieldset:not(:first-child),
.editPopup__fieldset:not(:first-child) {
  margin-top: 9px;
}

.editPopup__input,
.addPopup__input {
  background: #D8EEFE;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #094067;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 8px;
}

.addPopup__label,
.editPopup__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #094067;
}

.addPopup__button--wrapper,
.editPopup__button--wrapper {
  grid-row: 3 / 4;
  grid-column: 2 /  3;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: baseline;
}

@media (min-width: 1300px) {

  .deleteBtnWrapper,
  .addPopup--container,
  .popup--container {
    left: 180px;
    right: 181px;
    grid-template-columns: 263px  1fr 298px;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-bottom: 0;
  }

  .deleteBtnWrapper,
  .editPopup__button--wrapper,
  .addPopup__button--wrapper {
    margin-top: 38px;
    padding-bottom: auto;
  }

  .confirmParagraph,
  .editPopup__heading,
  .addPopup__heading {
    font-size: 48px;
    line-height: 57px;
  }

  .addPopup--wrapper,
  .editPopup--wrapper {
    grid-column: 2 / 3;
  }

  .confirmParagraph,
  .editPopup__heading,
  .addPopup__heading {
    line-height: 57px;
    margin-block-start: 0;
    margin-bottom: 0;
    max-width: 75%;
  }

  .confirmParagraph {
    max-width: 60%;
    padding-block-start: 10%;
    margin-left: auto;
    margin-right: auto;
  }

  .addPopup__input,
  .editPopup__input {
    width: 264px;
    padding: 0;
    padding-left: 20px;
  }

  .addPopup__label,
  .editPopup__label {
    font-size: 18px;
    line-height: 21px;
  }
}


