.addPopup,
.popup,
.deleteBtnContainer {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.confirmParagraph,
.popup__heading,
.addPopup__heading {
  font-size: 30px;
  line-height: 57px;
  color: #094067;
  margin: 0;
  text-align: left;
}

.heading--wrapper {
  grid-row: 1 / 3;
  grid-column: 2 / 5;
}

.confirmParagraph {
  text-align: center;
}

.deleteBtnWrapper,
.addPopup--container,
.popup--container {
  background: #FFFFFF;
  border-radius: 5px;
  pointer-events: all;
  text-align: left;
  position: fixed;
  top: 15%;
  left: 05%;
  right: 05%;
  bottom: 05%;
  border-radius: 8px;
  padding-top: 1.5rem;
  display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.deleteBtnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}

.addPopup__button--wrapper,
.popup__button--wrapper {
  grid-row: 3 / 6;
  grid-column: 2 / 5;
  text-align: justify;
  margin-top: 1rem;
}

.addPopup--wrapper,
.popup--wrapper {
  grid-column: 2 / 3;
  text-align: left;
}

.popup--wrapper {
  grid-row: 2 / 3;
}

.popup.open {
  pointer-events: all;
  opacity: 1;
}

.popup__fieldset,
.addPopup__fieldset {
  margin-bottom: 16px;
}

.popup__input,
.addPopup__input {
  background: #D8EEFE;
  border-radius: 5px;
  width: 100%;
  padding-top: 08px;
  padding-bottom: 08px;
  padding-left: 16px;
  padding-right: 16px;
}

.addPopup__label,
.popup__label {
  font-size: 18px;
  line-height: 21px;
  color: #094067;
}

.btnWrapper {
  margin-top: 30px;
}

@media (max-width: 500px) {

  .deleteBtnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .popup__heading,
  .addPopup__heading {
    font-size: 30px;
  }

  .popup__label {
    font-size: 14px;
  }

  .popup__button--wrapper{
    margin-top: 1.5rem;
  }

}

@media(min-width: 800px) {
  .popup--container {
    left: 20%;
    right: 20%;
  }
}
