article {
  background-color: rgba(119, 136, 153, 0.719);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

h1 {
  text-align: left;
  text-transform: uppercase;
}

h2 {
  color: blanchedalmond;
}

.items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1rem;
}

.image {
  border-radius: 50%;
  max-width: 20%;
}

.edit-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.delete,
.edit {
  background-color: transparent;
  padding: 0;
  border-color: transparent;
}

.popup,
.addPopup {
	background: seagreen;
	position: fixed;
	height: 100%;
	width: 50%;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
  border-radius: 1rem;
  margin-left: 25%;
  pointer-events: none;
  opacity: 0;
}

.addPopup {
  background-color: sienna;
  pointer-events: all;
  opacity: 1;
}

.popup.open {
  pointer-events: all;
  opacity: 1;
}

.deleteBtnContainer {
  background-color: azure;
    position: fixed;
    top: 0;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    opacity: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    border-radius: 1rem;
    padding: 2rem;
}

.deleteBtnContainer.open {
  pointer-events: all;
  opacity: 1;
}

.wrapper-btn {
  display: flex;
}

.confirm,
.cancel {
  background-color: rgb(128, 105, 0);
  border-color: transparent;
  border-radius: 1rem;
}
