body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

article {
  background-color: #004643;
  padding: 2rem 1rem;
}

header {
  background-color: #e53170;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 4rem;

}

h1 {
  text-align: left;
  text-transform: uppercase;
  color: #fffffe;
  font-family: serif;
}

h2 {
  color: blanchedalmond;
}

header,
.items {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 12px;
}

.items {
  background-color: #fffffe;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1rem;
}

.image {
  border-radius: 50%;
  max-width: 20%;
}

.edit-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.delete,
.edit {
  background-color: transparent;
  padding: 0;
  border-color: transparent;
}

.popup,
.addPopup {
	background: seagreen;
	position: fixed;
	height: 100%;
	width: 50%;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
  border-radius: 1rem;
  margin-left: 25%;
  pointer-events: none;
  opacity: 0;
}

.addPopup {
  background-color: #f25f4c;
  pointer-events: all;
  opacity: 1;
  text-align: center;
}

.popup.open {
  pointer-events: all;
  opacity: 1;
}

.deleteBtnContainer {
  background-color: azure;
    position: fixed;
    top: 0;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    opacity: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    border-radius: 1rem;
    padding: 2rem;
}

.deleteBtnContainer.open {
  pointer-events: all;
  opacity: 1;
}

.wrapper-btn {
  display: flex;
}

ul {
  padding: 0;
}

button {
  text-transform: uppercase;
  border-color: transparent;
}

form {
  display: flex;
  justify-content: space-between;
  margin-block-end: 3rem;
}

.add-person,
.confirm,
.cancel {
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  box-shadow: 0 9px #999;
  background-color: #4CAF50;
  text-align: center;
}

.add-person:hover,
.confirm:hover,
.cancel:hover,
.add-person:hover,
.confirm:hover,
.cancel:hover,
.add-person:active,
.confirm:active,
.cancel:active {
  color: #fffffe;
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (min-width: 800px) {
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
